body {
    background-color: lightgrey;
    background-image: url(http://localhost/crud/imgss/8.jpg);
   
  }
  h2{
    color: black;
  }
  
  h3 {
    color: black;
  }
  
  h1{
    text-shadow: 2px 2px 5px red;
    text-align: center;
  }
  p{
    color: black;

  }